.circle {
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 50%;
  font-size: 2.6em;
  color: #fff;
  text-align: center;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 0.5em;
}
