.circle {
  width: 2.2em;
  height: 2.2em;
  line-height: 2.2em;
  border-radius: 50%;
  font-size: 2em;
  color: #fff;
  text-align: center;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 0.5em;
  position: relative;
  transition: transform 0.4s;
}

.faicon {
  transform: scale(1) translateY(0.04em);
}

.circle:hover {
  transform: scale(0.85);
}
