.screen {
  background-image: linear-gradient(to bottom right, #7500bc, #220074);

  width: 100%;
  height: 100vh;
  //   max-width: 800px;
  display: table;
  margin: 0 auto;
  height: 100vh;
}

.topBar {
  display: flex;
  justify-content: space-between;
}

.albumArt {
  // margin: 2em;
  // outline: 2px dashed red;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  // display: table;
  max-width: 30em;
  // max-width: 80%;

  // max-width: 40%;
  // max-height: 50%;
  // margin: 0 auto;
}

.UIArea {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  // gap: 4em;
  // outline: 2px solid yellow;

  color: white;
}

.rightOfImage {
  padding-left: 2em;
  padding-right: 2em;

  // max-width: 90%;
  // outline: 2px solid red;
}

.songNameArea {
  display: flex;
  justify-content: space-between;
}

.likeButton {
}

.sliderTimerArea {
  display: flex;
  justify-content: space-between;
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.introArea {
  padding-top: 2rem;
}

.title {
  font-size: 50pt;
}
