.screen {
  background-image: linear-gradient(to bottom right, #7500bc, #220074);
  // outline: 2px solid yellow;
  min-width: 228px;
  min-height: -webkit-fill-available;
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.topBar {
  display: flex;
  justify-content: space-between;
}

.albumArtArea {
  padding: 2em;
  min-width: 2px;
  max-width: 30em;
  // outline: 2px dashed red;
}

.albumArt {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.UIArea {
  // margin: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  // gap: 4em;
  // outline: 2px dashed blue;

  color: white;
}

.rightOfImage {
  padding-left: 2em;
  padding-right: 2em;

  // max-width: 90%;
  // outline: 2px solid green;
}

.songNameArea {
  display: flex;
  justify-content: space-between;
}

.likeButton {
}

.sliderTimerArea {
  display: flex;
  justify-content: space-between;
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.introArea {
  // padding-top: 2rem;
  padding-bottom: 2rem;
}

.title {
  font-size: 50pt;
}
