.home {
  height: 100vh;
  width: 100vw;
}

.content {
  margin-left: 10%;
  width: 80%;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 700;
}

.heading {
  padding-top: 8em;
  padding-bottom: 1em;
}

.subtitle {
  padding-top: 1em;
  font-weight: 600;
  color: #cfcfcf;
  // animation: fadeInSubtitle 10s;
}

.link {
  text-decoration: none;
}

.shopify {
  color: #9ceb96;
}
.tesla {
  color: #e6878b;
}
.uwaterloo {
  color: #e8e099;
}

.title {
  font-size: 64pt;
  // animation: fadeInTitle 10s;
}

hr {
  margin-left: 0;
  animation: extendLine 10s;
}

.stations {
  // animation: fadeInStations 10s;
}

@keyframes extendLine {
  0% {
    width: 0%;
  }
  10% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeInTitle {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 0%;
  }
  20% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeInSubtitle {
  0% {
    opacity: 0%;
  }
  15% {
    opacity: 0%;
  }
  25% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeInStations {
  0% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  30% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
