@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700display=swap");

.content {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: white;
}

.text-area {
  margin-top: 10vh;
  margin-left: 10vw;
  margin-bottom: 20vh;
  color: #464646;
  font-family: Montserrat;
  font-weight: 500;
  .shopify {
    color: #74ad6a !important;
  }
  .tesla {
    color: #b33b3b !important;
  }
  .carbonite {
    color: #336bd4 !important;
  }
  .hatch {
    color: #755ab0 !important;
  }
  .localintel {
    color: #5b8ec2 !important;
  }
}

.headshot {
  max-width: 10rem;
  margin-bottom: 1rem;
  border-radius: 3rem;
}

.title {
  font-size: 4rem;
  padding-bottom: 2rem;
}

.subtitle {
  max-width: 32rem;
  font-size: 1.5rem;
}

.link {
  text-decoration: none !important;
  // color: #464646;
}

.icon-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.svg-inline--fa {
  color: #464646;
  display: inline-block;
  margin-right: 2rem;
}

.svg-inline--fa:hover {
  color: darkgray;
}

.resume-button {
  background: #464646;
  padding: 1rem;
  font-family: Montserrat;
  font-weight: 500;
  color: white;
  border: none;
  outline: none;
  border-radius: 2rem;
}

.resume-button:hover {
  cursor: pointer;
  background: darkgray;
}

.footer {
  height: 4rem;
}
