.content {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: white;
}

.text-area {
  padding: 2rem;
  padding-top: 30vh;
  margin-left: 10rem;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

.title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 5rem;
  color: black;
}
